@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900");

.card-style {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 18px 18px 18px 18px;
    cursor: pointer;
  }
  .highlight {
    background: #ede1d6;
  }
.card-style:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.county_card{
  font-family: 'Nunito', sans-serif;
  height: 650px;
  width: 350px;
}

.county_card:hover{
  transform: scale(1.025);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.company_card {
  height: 650px;
  width: 300px;
}
.company_card:hover {
  transform: scale(1.025);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.company_card_action {
  height: 650px;
  width: 70px;
}

body {
  font-family: 'Nunito', sans-serif;
}