.companyLogo {
    height: 185px;
    width: 185px;
    margin-bottom: 20px;
}

.companyMainLogo {
    min-height: 165px;
    min-width: 185px;
    max-height: 250px;
    max-width: 350px;
}

.companiesWrapper {
    margin: "auto",
}

.twitterCard {
    width: 500px;
}

.detailCard {
  width: 500px;
}

.linkCard {
  width: 450px;
}

.socialButton {
    margin-left: 100px;
    margin-right: 16px;
}

.socialSpacer {
   margin-top: 32px;
   margin-bottom: 32px;
}

.fac-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
.fac-button:disabled {
  pointer-events: none;
}

.fac-button:hover {
  color: black;
  background-color: #d8efe4;
  box-shadow: rgba(155, 152, 152, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.fac-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.county-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.county-button:disabled {
  pointer-events: none;
}

.county-button:hover {
  color: black;
  background-color: #abddfc;
  box-shadow: rgba(155, 152, 152, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.county-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.center-row {
  justify-content: center;
}