@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900");
body{
  font-family: 'Nunito', sans-serif;
}


.fac-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.fac-button:disabled {
  pointer-events: none;
}

.fac-button:hover {
  color: black;
  background-color: #d8efe4;
  box-shadow: rgba(155, 152, 152, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.fac-button:active {
  box-shadow: none;
  transform: translateY(0);
}
.county_official{
  flex-direction: 'row';
  justify-content: 'space-between';
  /* alignItems="center"; */
}


.socials{
  font-family: 'Nunito', sans-serif;

}
.Container {
  padding: 20px;
  background-color: #ededed;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}
.frameMap{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-container {
  background-color: #ededed;
  font-family: 'Nunito', sans-serif;
}
.county-img {
  width: 50%;
  flex: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.company-img {
  width: 40%;
  height: 40%;
  flex: 0;
  display: block;
}

.bodyText {
  font-family: 'Nunito', sans-serif;
  padding: 4px 16px;
  font-size: 18px;
}
.demographic-img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.Card {
  padding: 50px;
  margin: 20px;
  background-color: #ffffff;
  color: #282c34;
  border-radius: 5px;
  text-align: left;
  overflow: auto;
}
p {
  font-size: 18px;
}
.subHeader {
  font-size: 20px;
  font-weight: 600;
}
.list-group {
  margin-top: 50px;
}
.subTitle {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
.model-links {
  margin-top: 30px;
}
.link {
  text-decoration: none;
  color: rgb(189, 86, 117);
}
