@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900");
body {
  font-family: 'Nunito', sans-serif;
}
.btn-group {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  border-style: none;
}
.container-group {
  margin-top: 10px;
  color: rgb(46, 45, 45);
  font-size: 18px;
  text-align: left;
  padding: 20px;
  overflow: auto;
  margin: 8px;
  font-weight: 400;
}


.cardTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  text-align: center;
  font-weight: 550;
}
.cardSub {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
}

.zip-code {
  font-size: 25px;
  text-align: center;
}

.card-grp hr {
  color: #282c34;
  padding: 2px;
}
.thick-line {
  border: none;
  color: #333; /* old IE */
  background-color: #000000;
}
#ListGroupItem {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}
.vr {
  border-left: 4px solid #000000;
  height: 200px;
}
.img-grp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 50%;
}
.dropdownStyle {
  background-color: #ffffff;
}
.sortStyle {
  width: 300px;
}

.counties-information {
  margin-bottom: 50px;
}

.countyDescr {
  font-size: 20px;
  text-align: center;
}

.center-row {
  justify-content: center;
}

.buttons {
  font-family: 'Nunito', sans-serif;
  width: 100px;
  font-size: 20px;
  
}
.filter{
  font-size: 30px;
  justify-content: center;
}

.searchbar {
  width: 800px;
  background-color: white;
}

.wrapper {
  margin-top: 24px;
  margin-bottom: 16px;
}

.wrapper-no-bottom {
  margin-top:24px;
}