.btn-group {
  font-family: "Raleway";
  font-size: 24px;
  font-style: "Regular 400";
  border-style: none;
}
.container-group {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  overflow: auto;
  margin: 8px;
  font-weight: 400;
}

.wrapper {
  margin-top: 24px;
  margin-bottom: 16px;
}

.link-btn {
  width: 20%;
}

.dropdownStyle {
  background-color: #ededed;
}

.cardSub {
  font-size: 20px;
  text-align: center;
}

Col {
  min-width: 150px;
  font-size: 15px;
}
.card-grp hr {
  color: #282c34;
  padding: 2px;
}
.facility-card-style {
  max-width: 600px;
  background-color: #ededed;
  /* border-color: #282c34; */
  border-style: groove;
  border-width: medium;
}

.facilityCardTitle {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

.instance-title {
  font-size: 50px;
  min-height: 80px;
  font-weight: 600;
  text-align: center;
}

.location-style {
  min-height: 40px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

#ListGroupItem {
  font-size: 50px;
}

.table-info-style {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.vr {
  border-left: 4px solid #000000;
  height: 200px;
}

.clear-button {
  min-height: 100px;
  max-width: 280px;
  position: relative;
  top: 40px;
  left: 10px;
  font-size: 28px;
  font-weight: 550;
  background-color: #248654;
  color: white;
  border-radius: 5px;
}

.marked-text {
  background-color: rgb(17, 128, 255);
  color: white;
}

.county-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.county-button:disabled {
  pointer-events: none;
}

.county-button:hover {
  color: black;
  background-color: #abddfc;
  box-shadow: rgba(155, 152, 152, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.county-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.tableRow:hover {
  transform: scale(1.015);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}