@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900");
body{
    font-family: 'Nunito', sans-serif;
  }
.modelCard {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.modelCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.padding {
    margin-right: 80px;
}

.searchbar {
    margin-top: 32px;
    width: 800px;
    background-color: white;
}

.center-row {
    justify-content: center;
}