@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900");
body{
  font-family: 'Nunito', sans-serif;
}
.homePage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/splash/mountain.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  position:relative;
}

.greenBlob {
  background-image: url("../../assets/splash/GreenBlob.png");
  background-repeat: no-repeat;
  width: 155px;
  height: 370px;
  position:absolute;
  top: 16px;
}

.blueBlob {
  background-image: url("../../assets/splash/BlueBlob.png");
  background-repeat: no-repeat;
  width: 315px;
  height: 325px;
  position:absolute;
  right:0px;
  bottom:0px;
}

.homeTitle {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 50px;
  margin: 128px auto;
  position: relative;
}

.homeSubTitle {
  color: whitesmoke;
  font-size: 40px;
  margin: 10px auto;
}

.homeSubSubTitle {
  color: whitesmoke;
  font-size: 30px;
  margin: 10px auto;
}

.spacer {
  min-height: 90px;
}

.wrapper {
  margin-top:32px;
  margin-bottom:16px;
}

.videoWrapper {
  margin-bottom:128px;
}